# Зависимости
node_modules/

# Сборка (Netlify сам соберёт)
build/

# Логи
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local